# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

FliteTTSPlugin/Intermediate/Build
FliteTTSPlugin/ThirdParty/flite/.vs
FliteTTSPlugin/Binaries
FliteTTSPlugin/ThirdParty/flite/ipch
FliteTTSPlugin/ThirdParty/flite/windows/build/
FliteTTSPlugin/ThirdParty/flite/lib

*.sdf
